POSTGRES_USER=rag_cnrs
POSTGRES_PASSWORD=changeme
POSTGRES_DB=rag_cnrs

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=rag_cnrs_chunks
QDRANT_DISTANCE=Cosine
QDRANT_DENSE_VECTOR_NAME=dense
QDRANT_SPARSE_VECTOR_NAME=bm25
